.footer{
    color: hsla(33, 27%, 84%, 0.934);
  background-color: #161616; /* Bluish transparent */   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}
.footer-content{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
    width: 100%;
}
.footer-left, .footer-right, .footer-centre{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;  
}
.footer-left img{
    width: 40%;
}
.footer-left p { 
  font-family: 'Formula1 Display', sans-serif;
  font-size: 1.02rem;
  font-weight: 500;
  max-width: 700px;
  margin: 0 auto 3rem;
  color: #d1d5db3d; /* Light gray for professional tone */
  text-align: start;
  letter-spacing: 0.9px;
  line-height: 1.7;
  background: linear-gradient(90deg, #e0e0e0, #ffffffc1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
} 
.footer-left li, .footer-right li, .footer-centre li { 
  font-family: 'Formula1 Display', sans-serif;
  font-size: 1.02rem;
  font-weight: 500;
  max-width: 700px;
  margin: 0 auto 2rem;
  color: #d1d5db3d; /* Light gray for professional tone */
  text-align: start;
  letter-spacing: 0.9px;
  line-height: -2;
  background: linear-gradient(90deg, #e0e0e0, #ffffffc1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.footer-right h2, .footer-centre h2 {
  font-size: 2rem;
  font-weight: 700;
  /* margin-bottom: 1rem; */
  background: linear-gradient(90deg,#10b981,  #3b82f6, #8b5cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  transition: background-position 0.5s ease;
  background-size: 200% auto;
  animation: shimmer 3s infinite linear;
}
.footer-right h2:hover, .footer-centre h2:hover{
      background-position: right center;

}
.footer-social-icon{
    align-items: center;
    display: flex;
    /* gap: 2vh; */
    width: 80px;
    margin-right: 14px;
    cursor: pointer;
    width: 400px;
}
.loog{
    margin-left: 80px;
    
}
.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0px;
    background-color: hsla(319, 24%, 80%, 0.622);
    border: none;
}
.footer-copyright {
color: rgba(255, 255, 255, 0.852);    }
@media (max-width:1050px){
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 34px;
    }
    .footer-copyright {
        text-align: center;
    }
}